:root {
  --main-color-black: #0D0D0D;
  --main-color-white: #FFFFFF;
  --btn-color-gray: #D6D7DB;
  --btn-color-red: #d30000;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* Общий контейнер */
.container {
  display: flex;
  height: 100vh;
  transition: .3s;
}

/* Основной контент (Блок с картинкой) */
.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: .3s;
  padding: 20px;
}
.model-block, .model-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.model-img {
  display: flex;
  justify-content: space-between;
}
.model-img img {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 4px);
}
.model-img .model-test {
  position: absolute;
  top: 25.5%;
  left: 15.8%;
  width: 57.1%;
  height: 69.7%;
}
.model-img .button-delete {
  height: fit-content;
  text-align: center;
  background: var(--btn-color-red);
  color: var(--main-color-white);
  border: 1px solid var(--btn-color-gray);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 25px;
  transition: all .3s;
}
.model-img .button-delete:hover {
  opacity: .8;
}
.model-test__block {
  position: relative;
  width: 100%;
  height: 100%;
}
.model-test__block .info-box {
  position: absolute;
  transform: translate(-50%, -140%);
  background-color: white;
  padding: 5px 8px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  font-size: 16px;
  white-space: nowrap;
  z-index: 5;
}
.sensor-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.sensor-dot span {
  position: absolute;
  top: -3em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  background: var(--btn-color-gray);
  padding: 4px 8px;
  border-radius: 3px;
  white-space: nowrap;
}
div.sensor-dot:nth-child(3) span {
  top: -1em;
  left: 4em;
}
.sensor-dot div {
  position: absolute;
  font-size: 32px;
  background: var(--btn-color-red);
  color: var(--main-color-white);
  padding: 5px 15px;
  width: fit-content;
  border-radius: 50%;
  font-weight: 700;
  transform: translate(-50%, -50%);
}
.sensor-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.model-coordinate {
  position: absolute;
  background: var(--main-color-black);
  top: 0;
  left: 0;
  z-index: -1;
}
.model-coordinate__x {
  width: 110%;
  height: 2px;
}
.model-coordinate__y {
  height: 100%;
  width: 2px;
}
.model-coordinate__x::after {
  content: "X";
  position: absolute;
  top: 1em;
  right: 0;
}
.model-coordinate__y::after {
  content: "Y";
  position: absolute;
  top: calc(100% - 1em);
  right: 1em;
}
.model-coordinate::before {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  border-right: 2px solid var(--main-color-black);
  border-bottom: 2px solid var(--main-color-black);
}
.model-coordinate__x::before {
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-1px) rotate(-45deg);
}
.model-coordinate__y::before {
  right: 0;
  top: 100%;
  transform: translateY(calc(-100% - 1px)) translateX(calc(50% - 1px)) rotate(45deg);
}

/* Кнопки на макете */
.object-button {
  background: var(--btn-color-gray);
  color: var(--main-color-black);
  cursor: pointer;
  border: none;
  border-radius: 100%;
  padding: 5px 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Боковое меню */
.sidebar {
  width: 32px;
  overflow: hidden;
  background: var(--main-color-black);
  color: var(--btn-color-gray);
  transition: .3s;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.sidebar.open {
  width: 500px;
}
.menu-content {
  opacity: 0;
  transition: .5s;
  overflow: hidden;
  gap: 10px;
  min-width: 230px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sidebar.open .menu-content {
  opacity: 1;
}

/* Бургер в меню */
.burger {
  display: block;
  position: relative;
  width: 16px;
  min-height: 32px;
  cursor: pointer;
  border: none;
  background: inherit;
  transform: translateX(-50%);
}
.burger:before {
  content: '';
  position: absolute;
  background-color: var(--main-color-white);
  width: 100%;
  height: 3px;
  top: 25%;
  transition: .2s all;
}
.burger:after {
  content: '';
  position: absolute;
  background-color: var(--main-color-white);
  width: 100%;
  height: 3px;
  bottom: 25%;
  transition: .2s all;
}
.burger i {
  opacity: 1;
  position: absolute;
  background-color: var(--main-color-white);
  width: 100%;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
  transition: .2S all;
}
.burger.active i {
  opacity: 0;
  width: 0%;
}
.burger.active:before {
  top: 50%;
  transform: rotate(45deg);
  border-radius: 4px;
  transition: .2s all;
}
.burger.active:after {
  top: 50%;
  transform: rotate(-45deg);
  border-radius: 4px;
  transition: .2s all;
}
.burger:focus-visible i {
  width: 90%;
  transition: .2S all;
}
@media (hover:hover) {
  .burger:hover i {
      width: 90%;
      transition: .2S all;
  }
  .burger.active:hover:after, .burger.active:hover:before {
      opacity: .8;
  }
}

/* Блоки в меню */
.menu-fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid var(--btn-color-gray);
  margin: 0;
  width: 100%;
  margin-bottom: 20px;
}
.menu-fieldset legend {
  text-align: center;
  font-size: 18px;
  padding-top: 3px;
}
.menu-fieldset legend span {
  content: '?';
  border: 1px solid var(--main-color-white);
  border-radius: 50%;
  padding: 0 5px;
  cursor: pointer;
}
.menu-fieldset.menu-fieldset__points {
  overflow-y: auto;
}

/* Радиокнопки в меню */
.menu-db button {
  text-align: center;
  background: var(--main-color-black);
  width: 100%;
  color: var(--main-color-white);
  border: 1px solid var(--btn-color-gray);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  transition: all .3s;
  display: block;
}
.menu-db button:disabled {
  background-color: var(--btn-color-red);
  border: 1px solid var(--btn-color-red);
  cursor: not-allowed;
}
.menu-radio input[type="radio"] {
  display: none;
}
.menu-radio label {
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px;
  background: var(--main-color-black);
  color: var(--main-color-white);
  border: 1px solid var(--btn-color-gray);
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}
.menu-radio input[type="radio"]:checked + label {
  background: var(--main-color-white);
  color: var(--main-color-black);
}
@media (hover:hover) {
  .menu-db button:hover {
    background: var(--btn-color-gray);
    color: var(--main-color-black);
  }
  .menu-radio label:hover {
      background: var(--btn-color-gray);
      color: var(--main-color-black);
  }
}

/* Поля ввода в меню */
.menu-input {
  width: calc(100% - 10px);
}
.menu-input input {
  background: var(--btn-color-gray);
  border: none;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
}

/* Список объектов в меню */
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  overflow-y: auto;
}
.menu-list { /* Стили скрола */
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: var(--main-color-black) var(--btn-color-gray);
}
.menu-list::-webkit-scrollbar { /* Для WebKit-браузеров (Chrome, Safari, Edge) */
  width: 8px; /* Толщина полосы */
}
.menu-list::-webkit-scrollbar-thumb {
  background: var(--main-color-black); /* Цвет ползунка */
  border-radius: 4px;
}
.menu-list::-webkit-scrollbar-track {
  background: var(--btn-color-gray); /* Цвет фона скролла */
}
.menu-list__element {
  padding: 10px;
  border: 1px solid var(--btn-color-gray);
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}
.menu-list__element.active {
  background: var(--main-color-white);
  color: var(--main-color-black);
}
@media (hover:hover) {
  .menu-list__element:hover {
      background: var(--btn-color-gray);
      color: var(--main-color-black);
  }
}

/* Модальное окно */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 10;
}
.modal-overlay.open {
  opacity: 1;
  pointer-events: auto;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  transform: translateY(-30px);
  transition: transform 0.5s ease;
  overflow-y: auto;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-content__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
}
.modal-content__title button {
  border: none;
  background: inherit;
  cursor: pointer;
  transition: .3s;
}
.modal-content__title button:active, .modal-content__title button:hover {
  opacity: .7;
}
.modal-overlay.open .modal-content {
  transform: translateY(0);
}
.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal-content__tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.modal-content__tabs button {
  text-align: center;
  background: var(--main-color-white);
  color: var(--main-color-black);
  border: 1px solid var(--btn-color-gray);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  transition: all .3s;
  display: block;
}
.modal-content__tabs button.active {
  background: var(--main-color-black);
  color: var(--main-color-white);
}
@media (hover:hover) {
  .modal-content__tabs button:hover {
      background: var(--btn-color-gray);
      color: var(--main-color-black);
  }
}
.modal-content__table {
  overflow-y: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: black;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }

  thead {
    background: #000;
    color: #fff;
  }

  tbody tr:nth-child(even) {
    background: #f2f2f2;
  }

  tbody tr:hover {
    background: #ddd;
  }
}

/* Ввод датчиков в модалке*/
.modal-content {
  .sensors-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .sensor-block {
    background: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }

  .sensor-title {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 18px;
    text-align: center;
  }

  .sensor-coords {
    display: flex;
    gap: 12px;
  }

  .coord-field {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 5px;
    width: 100%;
  }

  .coord-field input {
    background: var(--btn-color-gray);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .button-save {
    text-align: center;
    background: var(--main-color-black);
    width: 100%;
    color: var(--main-color-white);
    border: 1px solid var(--main-color-black);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    transition: all .3s;
    display: block;
  }
  @media (hover:hover) {
    .button-save:hover {
      background: var(--btn-color-gray);
      color: var(--main-color-black);
    }
  }
}

/* Маршрут */
.route-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.overlay .spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}